.card {
    /* width: 364px; */
    width: 100%;
    /* min-height: 281px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    overflow: hidden;
}

.card__img {
    align-self: center;
    height: 203px;
    object-fit: cover;
    
}

.card__name-like {
    margin: 16px 16px 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__name {
    margin: 0;
    max-width: 260px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like {
    border: none;
    padding: 0;
    /* border: 1px solid #424242; */
    width: 14px;
    height: 12px;
    background-size: 14px;
    background-image: url(../../images/like_neactive.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222222;
    cursor: pointer;

}

.card__like_active {
    border: none;
    padding: 0;
    width: 14px;
    height: 12px;
    background-size: 14px;
    background-image: url(../../images/like_active.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222222;
    cursor: pointer;
}

.card__delete {
    visibility: hidden;
    border: none;
    padding: 0;
    width: 14px;
    height: 12px;
    background-size: 7px;
    background-image: url(../../images/deletecard.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222222;
    cursor: pointer;
}

.card:hover .card__delete{
    visibility: visible;
}

.card__length {
    margin: 0 0 16px 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
}

@media all and (min-width: 767px) and (max-width: 1024px) {

    .card__img {
        height: 190px;
    }

    .card__name-like {
        margin: 14px 14px 15px;
    }

    .card__length {
        margin: 0 0 14px 14px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
   
    .card__img {
        height: 168px;
    }

    .card__name-like {
        margin: 14px;
    }

    .card__name {
        font-size: 12px;
        line-height: 15px;
    }

    .card__length {
        margin: 0 0 14px 14px;
        font-size: 11px;
        line-height: 13px;
    }
}
