.portfolio {

}

.portfolio__container {
    max-width: 1280px;
    box-sizing:border-box;
    padding: 100px 70px 106px;
    margin: auto;
}

.portfolio__title {
    margin: 0 0 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    mix-blend-mode: normal;
}

.portfolio__flex-examples {

}

.portfolio__example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    margin-top: 20px;
}

.portfolio__example:last-of-type {
    border-bottom: none;
}

.portfolio__example-title {
    margin: 0;
    padding-bottom: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
}

.portfolio_example-link {
    text-decoration: none;
    color: #FFFFFF;
    /* width: 29px; */
    /* height: 60px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
}

.portfolio_example-link:hover {
    opacity: 0.7;
}


@media all and (min-width: 767px) and (max-width: 1024px) {
    .portfolio__container {
      /* max-width: 768px; */
      padding: 90px 50px 71px;
    }

    .portfolio__example-title {
        font-size: 28px;
    }

    .portfolio_example-link {
        font-size: 28px;
    }
  }

  @media all and (min-width: 320px) and (max-width: 767px) {
    .portfolio__container {
        /* max-width: 320px;  */
        padding: 70px 14px 51px;
    }

    .portfolio__title {
        margin: 0 0 40px;
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__example-title {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.04em;
    }

    .portfolio_example-link {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.04em;
    }

}


