@keyframes slidein {
    from {
      padding-right: 0;
      opacity: 0.4;
    }

    50% {
        
        opacity: 0.7;
      }
  
    to {
        padding-right:40px;
        opacity: 0.4;
    }

  }

.promo {
    background: #073042;
    margin-top: -78px;
}

.promo__container {
    max-width: 1280px;
    box-sizing:border-box;
    padding: 124px 70px 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.promo__title {
    margin: 0 0 102px;
    width: 626px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #fff;
}

.promo__shape {
    align-self: flex-end;
    margin: 0 0 0 0 ;
    width: 722px;
}


.promo__next-wrapper {
    width: 100%;
    text-align: center;
}


.promo__next {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #e8ebea;
    text-decoration: none;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}



  @media all and (min-width: 767px) and (max-width: 1024px) {
    .promo__container{
        /* max-width: 768px; */
        padding: 374px 44px 70px;
        align-items: center;
      }

    .promo__title{
        width: 680px;
        margin-bottom: 140px;
        text-align: center;
        /* width: 100%; */
        align-self: center;
    }

    .promo__shape {
        /* width: 680px; */
        width: 100%;
        align-self:center;
    }
  }

  @media all and (min-width: 320px) and (max-width: 767px) {
    @keyframes slidein {
        from {
          padding-right: 0;
          opacity: 0.2;
        }
    
        50% {
            
            opacity: 0.8;
          }
      
        to {
            opacity: 0.2;
        }
    
      }
    

    .promo {
        overflow: hidden;
    }

    .promo__container {
        /* max-width: 320px;  */
        padding: 261px 10px 40px;
    }

    .promo__title{
        align-self: center;
        margin-bottom: 60px;
        text-align: center;
        width: 300px;
        font-size: 31px;
        line-height: 39px;
    }

    .promo__shape {
        align-self:center;
    }

    .promo__next {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        animation-duration: 3s;
        animation-timing-function: ease;
    }
}